{% extends 'hod_template/base_template.html' %}
{% block page_title %}
    <div>Edit Student > Username: <span class="font-weight-bold">{{ username }}</span> _ ID: <span class="font-weight-bold">{{ id }}</span>  </div>
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Edit Student</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                {% url 'sm_ap:edit_student_save' as action_path %}
                {% include 'hod_template/form_template.html' with messages=messages form=form action_path=action_path button_text='Edit Student' %}
            </div>
            <!-- /.card -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock main_content %}