{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
        <img src="{% static 'SM_app/dist/img/BISK-New-01-White-10P-212x300.png' %} " alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light"><span class="font-weight-bold" style="letter-spacing: 4px;">BISK</span>  Portal</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'SM_app/dist/img/Mehdi_pic-01.png' %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ user.username }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->

                <li class="nav-item">
                    {% url 'sm_app:add_teacher' as add_teacher %} <!--  Store Data in Variable by ==> { %  Expression Data as Variable_name  % }  -->
                    <a href="{% url 'sm_app:add_teacher' %}" class="nav-link {% if request.path == add_teacher %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Add teacher
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'sm_app:manage_teacher' as manage_teacher %}
                    {% url 'sm_app:edit_teacher' teacher_id=id as edit_teacher %}
                    <a href="{% url 'sm_app:manage_teacher' %}" class="nav-link {% if request.path == manage_teacher %} active {% endif %} {% if request.path == edit_teacher %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Manage Teacher
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'sm_app:add_student' as add_student %}
                    <a href="{% url 'sm_app:add_student' %}" class="nav-link {% if request.path == add_student %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Add Student
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'sm_app:manage_student' as manage_student %}
                    {% url 'sm_app:edit_student' student_id=id as edit_student %}
                    <a href="{% url 'sm_app:manage_student' %}" class="nav-link {% if request.path == manage_student %} active {% endif %} {% if request.path == edit_student %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Manage Students
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'sm_app:add_course' as add_course %}
                    <a href="{% url 'sm_app:add_course' %}" class="nav-link {% if request.path == add_course %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Add Course
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'sm_app:manage_course' as manage_course %}
                    {% url 'sm_app:edit_course' course_id=id as edit_course %}
                    <a href="{% url 'sm_app:manage_course' %}" class="nav-link {% if request.path == manage_course %} active {% endif %} {% if request.path == edit_course %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Manage Courses
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'sm_app:add_subject' as add_subject %}
                    <a href="{% url 'sm_app:add_subject' %}" class="nav-link {% if request.path == add_subject %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Add Subject
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'sm_app:manage_subject' as manage_subject %}
                    {% url 'sm_app:edit_subject' subject_id=id as edit_subject %}
                    <a href="{% url 'sm_app:manage_subject' %}" class="nav-link {% if request.path == manage_subject %} active {% endif %} {% if request.path == edit_subject %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Manage Subjects
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'sm_app:add_teacher' as add_teacher %}
                    <a href="{% url 'sm_app:add_teacher' %}" class="nav-link {% if request.path == add_teacher %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            View Attendance
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'sm_app:add_teacher' as add_teacher %}
                    <a href="{% url 'sm_app:add_teacher' %}" class="nav-link {% if request.path == add_teacher %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Student Feedback
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'sm_app:add_teacher' as add_teacher %}
                    <a href="{% url 'sm_app:add_teacher' %}" class="nav-link {% if request.path == add_teacher %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Staff Feedback
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'sm_app:add_teacher' as add_teacher %}
                    <a href="{% url 'sm_app:add_teacher' %}" class="nav-link {% if request.path == add_teacher %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Student Leave
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'sm_app:add_teacher' as add_teacher %}
                    <a href="{% url 'sm_app:add_teacher' %}" class="nav-link {% if request.path == add_teacher %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Staff Leave
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>